@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Republic of Gamers</h1>
    <p>Play Together, Win Together</p>
    <img src="~/img/R.jfif" alt="Store Logo" width="400" height="400" />
</div>
